body {
    background: black;
	overflow: hidden;
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: Kanit;
    src: url("assets/fonts/Kanit/Kanit-Light.ttf") format("ttf"), url("assets/fonts/Kanit/Kanit-Light.ttf") format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: Nunito;
    src: url("assets/fonts/Nunito_Sans/NunitoSans-Light.ttf") format("ttf"), url("assets/fonts/Nunito_Sans/NunitoSans-Light.ttf") format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: SDGlitch;
    src: url("assets/fonts/SDGlitch.ttf") format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: Hackout;
    src: url("assets/fonts/Hackout-Eaw5j.otf") format("opentype");;
    font-display: fallback;
}



/* Выделение текста цветом */

p::selection {
    background-color: #00ff0d38;
}

p::-moz-selection{
    background-color: #00ff0d38;
}

span::selection {
    background-color: #00ff0d38;
}

span::-moz-selection{
    background-color: #00ff0d38;
}

img::selection {
    background-color: #00ff0d38;
}

img::-moz-selection{
    background-color: #00ff0d38;
}

div::selection {
    background-color: #00ff0d38;
}

div::-moz-selection{
    background-color: #00ff0d38;
}



/* Падающие биты с неба */

canvas {
    position: absolute;
    z-index: 1;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(1, 185, 1);
    position: absolute;
    z-index: 2;
}
    
body .lines {
    position: fixed;
    font-weight: bold;
    font-size: 16px;
    font-family: consolas;
    transform: rotate(270deg);
    transition: transform 2s;
    width: 10px;
}
    
body .lines div {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, transparent 30%, black 100%);
}



/* Главный контент */

.container {
    min-width: 1100px;
}

.striped-text {
    font-size: 50px;
    font-family: 'Hackout', sans-serif;
    text-align: center;
    background: repeating-linear-gradient(#c5e5b1, #8bd17d 4px, #41b13d 4px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #183D58;
    display: table;
    margin: 20px auto;
}

.content {
    padding: 35px 0 35px 0;
    margin-bottom: 30px 0 30px 0;
    background: #020202;
    position: relative;
    z-index: 100;
    border: 2px solid;
	border-image: conic-gradient(from var(--angle), rgb(0, 255, 0), #020202, #020202, #020202, #020202, #020202, #020202, #020202, rgb(0, 255, 0)) 1;
	
	animation: 5s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

pre {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.links-block {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
}

.link {
    margin-right: 15px;
}

.link:hover {
    opacity: 0.6;
    transition: 0.2s;
}

.link:not(:hover) {
    opacity: 1;
    transition: 0.2s;
}

.testcolor {
    color: #ff0000;
}



/* Печатающийся текст */

.text-typing {
    font-size: 28px;
    margin-top: 20px;
    font-family: 'Hackout', sans-serif;
    text-align: center;
}



/* Анимация дёрганного текста */

.line1 {
    display: inline-block;
    animation: shake 1s ease-in-out infinite;
    animation-delay: 3.5s;
    animation-iteration-count: 1;
}

.line3 {
    display: inline-block;
    animation: shake 1s ease-in-out infinite;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

.line4 {
    display: inline-block;
    animation: shake 1s ease-in-out infinite;
    animation-delay: 4.2s;
    animation-iteration-count: 1;
}

.line5 {
    display: inline-block;
    animation: shake 1s ease-in-out infinite;
    animation-delay: 2.2s;
    animation-iteration-count: 1;
}
  
@keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(16px);
    }
    40% {
      transform: translateX(-3px);
    }
    60% {
      transform: translateX(14px);
    }
    80% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(0);
    }
}



@media screen and (max-width: 1185px) {
    .container {
        min-width: 900px;
    }
}

@media screen and (max-width: 985px) {
    .container {
        min-width: 730px;
    }

    pre {
        font-size: 20px;
    }

    .striped-text {
        font-size: 40px;
    }

    .link:nth-child(1) .link-img {
        width: 50px;
        height: 50px;
    }

    .link:nth-child(2) .link-img {
        width: 70px;
        height: 70px;
    }

    .link:nth-child(3) .link-img {
        width: 70px;
        height: 70px;
    }

    .link:nth-child(4) .link-img {
        width: 65px;
        height: 65px;
    }

    .link:nth-child(5) .link-img {
        width: 57px;
        height: 57px;
    }

    .link:nth-child(6) .link-img {
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 810px) {
    .container {
        min-width: 600px;
    }
}

@media screen and (max-width: 650px) {
    .container {
        min-width: 450px;
    }

    pre {
        font-size: 17px;
    }

    .striped-text {
        font-size: 35px;
    }

    .link {
        margin-right: 10px;
    }

    .link:nth-child(1) .link-img {
        width: 40px;
        height: 40px;
    }

    .link:nth-child(2) .link-img {
        width: 60px;
        height: 60px;
    }

    .link:nth-child(3) .link-img {
        width: 60px;
        height: 60px;
    }

    .link:nth-child(4) .link-img {
        width: 50px;
        height: 50px;
    }

    .link:nth-child(5) .link-img {
        width: 42px;
        height: 42px;
    }

    .link:nth-child(6) .link-img {
        width: 50px;
        height: 50px;
    }

    .text-typing {
        font-size: 22px;
    }
}

@media screen and (max-width: 515px) {
    .container {
        min-width: 290px;
    }

    pre {
        font-size: 10px;
    }

    .striped-text {
        font-size: 24px;
    }

    .link {
        margin-right: 5px;
    }

    .link:nth-child(1) .link-img {
        width: 30px;
        height: 30px;
    }

    .link:nth-child(2) .link-img {
        width: 40px;
        height: 40px;
    }

    .link:nth-child(3) .link-img {
        width: 40px;
        height: 40px;
    }

    .link:nth-child(4) .link-img {
        width: 35px;
        height: 35px;
    }

    .link:nth-child(5) .link-img {
        width: 27px;
        height: 27px;
    }

    .link:nth-child(6) .link-img {
        width: 35px;
        height: 35px;
    }

    .text-typing {
        font-size: 16px;
    }
}
